
@model ContosoUniversity.ViewModels.CoursesDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel m-t-20">
    <div class="panel-heading">
        <h2 class="text-center" style="color:#337AB7">
            Course Details: @Model.Course.Title
        </h2>
    </div>
    <div class="panel-body">
        <form class="well-sm" method="POST" autocomplete="off">
            @Html.AntiForgeryToken()
            <div>
                <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
                <button type="submit" class="btn btn-primary saveDetails" disabled>Save</button>
            </div>
            <div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            <div style="display:flex">
                <div style="display:inline-block">
                    <table>
                        <tr>
                            <td>@Html.Label("Course ID")</td>
                            <td>@Html.TextBoxFor(m => m.Course.CourseID, new { disabled = "true", @class = "form-control", style = "min-width:200px; max-width: 100%;" })</td>
                            @Html.HiddenFor(m => m.Course.CourseID)
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Course.Title)</td>
                            <td>@Html.TextBoxFor(m => m.Course.Title, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Course.Credits)</td>
                            <td>@Html.TextBoxFor(m => m.Course.Credits, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Department)</td>
                            <td>@Html.DropDownListFor(m => m.Course.DepartmentID, ViewBag.Departments as IEnumerable<SelectListItem>, "Select Department", new { @class = "form-control" })</td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>

        <div class="row m-t-10">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#instructor">Instructor</a></li>
                <li><a data-toggle="pill" href="#documents">Documents</a></li>
                <li><a data-toggle="pill" href="#comments">Comments</a></li>
            </ul>

            <div class="tab-content">

                <div id="instructor" class="tab-pane fade in active">
                    <div>
                        @Html.Partial("~/Views/Shared/Instructor/_Instructors.cshtml", Model.Instructors.ToList())

                        @{ Html.RenderPartial("~/Views/Shared/_CourseInstructorAdd.cshtml", Model.NewCourseInstructor); }
                    </div>
                </div>

                <div id="documents" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-10">
                            @Html.Partial("~/Views/Shared/Document/_Table.cshtml", Model.Documents.ToList())
                        </div>

                        <div class="col-md-2">
                            <div class="dropzone dz-clickable" id="filesDropZone" data-url="@Url.Content("~/Course1/FileUpload?CourseID="+Model.Course.CourseID)" style="border:2px dashed black;">
                                <div id="dz-error-message"><span style="color:red"></span> </div>
                                <div class="dz-message">
                                    Drop files here or click to upload.
                                </div>
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </div>
                        </div>
                        @{ Html.RenderPartial("~/Views/Shared/Document/_Edit.cshtml", Model.NewDocument); }
                    </div>
                </div>

                <div id="comments" class="tab-pane fade">
                    Coming soon......
                </div>


            </div>

        </div>

    </div>
</div>


@section scripts{
    <script src="~/Scripts/Jquery.University.js"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            $('form').areYouSure();

            fnDropZone("#filesDropZone", "#documentsTable");

            areYouSureState(".saveDetails");

            formSubmit("#btnCourseInstructorSubmit", "#frmCourseInstructor");

        });

    </script>
}
