@model ContosoUniversity.Models.Document

<div class="modal fade" id="editDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Edit Document</h3>
            </div>

            <form id="frmEditDocument" method="post" action="@Url.Action("UpdateDocument", "Course1")" data-table="#documentsTable">
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            @Html.LabelFor(m => m.DocumentName, new { @class = "col-form-label" })
                            @Html.TextBoxFor(m => m.DocumentName, new { @class = "form-control ays-ignore" })
                            @Html.HiddenFor(m => m.CourseID)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.DocumentType, new { @class = "col-form-label" })
                            @Html.TextBoxFor(m => m.DocumentType, new { @class = "form-control ays-ignore" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Description, new { @class = "col-form-label" })
                            @Html.TextAreaFor(m => m.Description, 3, 100, new { @class = "form-control ays-ignore" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Comment, new { @class = "col-form-label" })
                            @Html.TextAreaFor(m => m.Comment, 3, 100, new { @class = "form-control ays-ignore" })
                        </div>
                        @Html.HiddenFor(m => m.DocumentID)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnEditDocumentSubmit" type="submit" class="btn btn-success" data-dismiss="modal">
                        Update
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>



